.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 10px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}


.h-center {
  width: 100%;
}




.container-fluid {
  max-width: 98%;
}

.topRightShadowBlur
{
  padding: 20px; margin: 10px;
  width:700px;height:200px;
  border: solid 1px #555;
  background-color: #eed;
  box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.6);
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

.news-card {
  height: 162px;
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}



.news-image {
  /* background-image: url(http://i.stack.imgur.com/r5CAq.jpg); */
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ccc;
  border: 1px solid;
  width: 20em;
  height: 10em;
  position: relative;
  top: -20px;
  left: -20px;
  float:left;
}

.news-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 19px;
  
  overflow: hidden;
  
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.news-byline {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #999;
  position: absolute;
  top: 100px;
  right: 0px;
  /* margin-top:5px; */
}

.news-body {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  
}

.news-content {
  position: relative;
  margin-left: 320px;
  
}

div.contain {
  background-size: contain;
}
div.cover {
  background-size: cover;
}

.comments-list {
  /* background: yellow; */
  margin-top: 10px;
  position: absolute;
  width: 100%;
  /* height: 100%; */
  bottom: 100px;
  top: 0px;
  min-height: 50px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.comment-status-div {
  margin-top:10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-comment {
  position: absolute;
  bottom: 0;
  width: 99%;
  /* margin: 6px; */
  /* padding: 20px; */
}

.status-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comment-card {
  margin: 6px;
  padding: 10px;
  overflow: auto;
}

.comment-author {
font-weight: bold;
position:relative;
display: inline;
float: left;
}

.comment-date {
  color: #999;
  float: right;
  display: inline;
}

.comment-body {
color: black;
}

.comment-name-text {
  width: 100%;
  border-width:1; 
  height:20px;
}

.comment-body-text {
  width: 100%;
  border-width:1; 
  margin-top:4px;
  margin-bottom: 4px;
}

.comment-button {
  width: 100%;
}


@media (max-width: 40em) {
  .news-image {
  display: none;
  }
  .news-content {
    margin-left: 10px;
    margin-top: 0px;
  }
  .news-author {
    display: none;
  }
}

@media (max-width: 991px) {
  .news-author {
    display: none;
  }

}





/* chat stuff */

.jumbotron {
  background-color: black; 
  color: white;
  height: 100px;
}

/* .chat-card {
  display: none;
  height: 100%;
} */


.game-card {
  display: none;
}

.rps-card {
  display: none;
}

#game-button {
  float: right;
  position: relative;
  top: -3px;
}

#rps-quit-button {
  float: right;
  position: relative;
  top: -3px;
}

#chat-text {
  text-align: left;
  height: 200px;
  width: 84%;
  /* max-height: 150px; */
  overflow-y: scroll;
  float: left;
  position: relative;
  bottom: 10px;
}




/* #send-button {
  position: relative;
  top: -2px;
  display: inline;
} */

#nickname-text {
width: 400px;
display: inline;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}


#chat-text {
  /* position: absolute;
  /* height: 100%; 
  max-height: 250px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
  position: relative;
  bottom: 30px;
  height: 100%;
  overflow-y: scroll;
  max-height: 500px;
  bottom: 82px;
  z-index: 20;
  /* background-color: green; */
}

.chat-input-div {
  position: absolute;
  bottom: 50px;
  width: 75%;
  /* background-color: blue; */
}

#message-text {
  margin-top: 15px;
  width: 87%;
  float: left;
  display: inline;
  position: relative;
  bottom: 0px;
  /* background-color: orange; */
}
.stuck {
  position: absolute;
  bottom: -33px;
  left:15px;
  width: 100%;
  /* background-color:red; */
  padding: 10px;
}

#message-button {
  position: absolute;
  bottom: 0px;
  width: 20%;
  right: -100px;

}

#users-list {
  
  width: 15%;
  overflow-y: scroll;
  border-style: none;
  /* float: right; */

  position: absolute;
  bottom: 40px;
  right: 20px;

  
  position: absolute;
  
  height: 220px;
  
  
  min-height: 50px;
}



.select-style {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}





.backdrop {
  opacity: .6;
  z-index: 5;
  background: black;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.box {
  width: 200px;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}